body
{ background-image: url("./bg.png")}

.wrapper

{
position: absolute;
left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);




}

article

{
position: absolute;
top: 40%;
left: 47%;

font-size: 110%;
}