body
{ background-image: url("./bg.png")}


.flex

{
position: absolute;
left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

z-index: 0;
}

iframe

{
position: absolute;

left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

z-index: 1;
}

.banderole

{
    position: absolute;
    right: 1%;
bottom: 2%;

z-index: 2;
}