body
{ background-image: url("./bg.png")}

.flex

{
    position: absolute;
    left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);


}

.stern1

{
position: absolute;
top: 40%;
left: 10%

}

.stern2

{
position: absolute;
top: 65%;
right: 50%;


}

.stern3

{
position: absolute;
top: 30%;
right: 25%

}

.stern4

{
position: absolute;
top: 54%;
right: 10%;

}

.stern1:hover

{
    background-image: url(./stern_hover.png);

}

.stern2:hover

{
background-image: url(./stern_hover.png);


}

.stern3:hover
{
    background-image: url(./stern_hover.png);


    
}

.stern4:hover
{
    background-image: url(./stern_hover.png);

}

h1
{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;

}