body {

background: gray;
padding: 80px 0 0 0;

}


header{
width: 50%;
height: 80px;
padding: 15%;
position: absolute;
transform: translate(-50%, -50%);
top: 5%;
left: 50%;
z-index: 5;
padding: 15px;
background: cadetblue;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

header input {
position: absolute;
right: 27%;
bottom: 15%;
width: 50%;
height: 50px;
float: left;
background: rgb(141, 194, 196);
color: #fff;
border-radius: 5px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border: 0px;
outline: none;

appearance: none;
}

.buttonadd {

width: 50px;
height: 50px;
position: absolute;
top: 38%;
left: 67%;
z-index: 2;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
background: #fff;
border: 0;
box-shadow: none;
color: gray;
cursor: pointer;
-webkit-appearance: none;
-moz-appearance: none;
-o-apperance: none;
appearance: none;


}

.buttonadd :hover{
opacity: 50%;


}

.container
{
width: 50%;
float: left;
padding: 15px;


}

ul.todo {
width: 50%;
float: left;



    
}

ul.todo li
{
position: relative;    
width: 150%;
height: 50px;
float: left;
background: #fff;
border-radius: 5px;
margin: 0 0 10px 0;
padding: 0 100px 0 0;



}

ul.todo li.buttons
{
width: 100px;
height: 50px;
position: absolute;
top: 0;
right: 0;


}

ul.todo li .buttons button
{
width: 50px;
height: 50px;
float: left;
position: relative;
left: 100%;
top: -10%;

border: 0px;
box-shadow: none;
outline: none;
background: none;
cursor: pointer;


}

ul.todo li .buttons button :last-of-type:before {

    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: black;
    
}

